html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    color: #333;
}

main {
    flex: 1; 
    background-color: #f7f7f7;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    margin-top: auto; /* Footer bleibt unten, wenn der Inhalt kürzer ist */
}

.btn-get {
    background-color: #28a745;
    color: white;
    padding: 20px 40px;
    font-size: 1.5rem;
}

.btn-post {
    background-color: #ffc107;
    color: black;
    padding: 20px 40px;
    font-size: 1.5rem;
}

.btn-patch {
    background-color: #6f42c1;
    color: white;
    padding: 20px 40px;
    font-size: 1.5rem;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    padding: 20px 40px;
    font-size: 1.5rem;
}

/* Optionally for better button appearance */
.btn {
    width: 100%;
    margin: 10px 0;
}

.table-dark th {
    background-color: #343a40; /* Dunkler Hintergrund */
    color: #ffffff; /* Weißer Text */
    text-align: center; /* Zentrierter Text */
    padding: 10px; /* Etwas mehr Innenabstand */
    border-bottom: 2px solid #ffffff; /* Weiße Unterlinie */
}

.table-dark th:hover {
    background-color: #495057; /* Etwas hellerer Hintergrund beim Hover */
    cursor: pointer; /* Zeiger-Cursor beim Hover */
}

/* Optionale CSS-Anpassungen für kleinere Bildschirme */
@media (max-width: 576px) {
    .table th, .table td {
        font-size: 12px; /* Kleinere Schriftgröße */
    }
}

.card {
    margin: 10px;
    flex: 1 1 300px; /* Ermöglicht die flexible Anpassung der Kartenbreite */
    min-height: 300px; /* Stellen Sie sicher, dass die Karten eine Mindesthöhe haben */
}

